
<div id="access_control" class="dsp_section">
    {{controller}}<br>
    {{no_rules_defined}}
    <div id="access_info">
        {{#readers}}
            <strong>{{readers.label}}:</strong>
            <p>{{readers.list}}</p>
            {{#allowed_columns}}
                <strong>{{label}}</strong>
                <p>{{list}}</p>
            {{/allowed_columns}}
        {{/readers}}
        {{#modifiers}}
            <strong>{{modifiers.label}}:</strong>
            <p>{{modifiers.list}}</p>
        {{/modifiers}}
    </div>
</div>
{{#update_rules}}
    <div id="update_rules" class="dsp_section">
        <h4>Update rules</h4>
        <div class='tbl'>
            <div class='tbl-row'>
                <div class='tbl-cell'>{{t.str_data_access}}</div>
                <div class='tbl-cell'>{{t.str_read}}</div>
                <div class='tbl-cell'>{{t.str_write}}</div>
            </div>
            <div class='tbl-row'>
                <div class='tbl-cell'>
                    <select name='type' id='data-rule-type' size=4>{{{options_p}}}</select>
                </div>
                <div class='tbl-cell'>
                    <select name='read' id='data-rule-read' multiple size=4>{{{options_r}}}</select>                        
                </div>
                <div class='tbl-cell'>
                    <select name='read' id='data-rule-write' multiple size=4>{{{options_w}}}</select>
                </div>
            </div>
        </div>
        <button class='pure-button button-warning' id='update-data-rule' data-id='{{obm_id}}' data-table='{{sheet_table}}'>{{t.str_update}}</button>
    </div>
{{/update_rules}}