<h2>
    {{t.str_messages}}
    {{#cog}}
    <a href='{{protocol}}://{{url}}/profile/{{tcrypt}}' class='pure-button button-href'
        style='float:right;margin-top:-10px'><i class='fa fa-lg fa-cogs'></i></a>
    {{/cog}}
</h2>
<div class='shortdesc'></div>

<div class="mail-box">
    <section id="tags">
        <div data-message_type="personal message" class="tag">{{ t.str_personal_messages }} {{{pm_unread_badge}}} </div>
        <div data-message_type="sent" class="tag">{{ t.str_sent_messages }}</div>
        <hr>
        <div data-message_type="system message" class="tag">{{ t.str_system_messages }} {{{sm_unread_badge}}} </div>
        <div data-message_type="comment notification" class="tag">{{ t.str_comment_notifications }}
            {{{cn_unread_badge}}}
        </div>
        <hr>
        <div data-message_type="news" class="tag">{{ t.str_news_stream }}</div>
        <hr>
        <div id="other">
            <button type="button" id="write-pm" class="pure-button button-small"> <i class="fa fa-pencil-square-o"> </i>
                {{ t.str_write_message }}
            </button>
            <button type="button" id="send-pm" class="pure-button button-small button-success"> <i
                    class="fa fa-send-o"></i> {{ t.str_send }}
            </button>
        </div>
    </section>

    <section id="messages">
    </section>

    <section id="detail">
        <div id="sender">{{ t.str_sender }}: <span></span> </div>
        <div id="recipient">{{ t.str_recipient }}: <span></span> </div>
        <div id="date">{{ t.str_date }}: <span></span> </div>
        <div id="subject">{{ t.str_subject }}: <span></span> </div>
        <div id="message_body">
        </div>
    </section>

    <section id="write">
        <form id="pm-form" class="pure-form pure-form-aligned" enctype="multipart/form-data">
            <fieldset>
                <input type="hidden" name="action" value="send_pm">
                <div class="pure-control-group">
                    <label for="to" style='vertical-align:top;padding-top:5px'>{{ t.str_recipient }}</label>
                    <select id="to" name="to[]" multiple>
                        <optgroup label="Users">
                            {{#members}}
                            <option value="{{role_id}}"> {{name}}</option>
                            {{/members}}
                        </optgroup>

                        {{#is_master}}
                        <optgroup label="Groups">
                            {{#groups}}
                            <option value="{{role_id}}"> {{description}}</option>
                            {{/groups}}
                        </optgroup>
                        {{/is_master}}

                    </select>

                    {{#is_master}}
                    <button class='pure-button button-transparent' style='vertical-align:text-bottom;'
                        id='copy-addresses-to-clipboard' title='Copy addresses to clipboard'><i
                            class='fa fa-clipboard fa-lg'></i></button>
                    {{/is_master}}

                </div>

                <div class="pure-control-group">
                    <label for="message-subject"> {{ t.str_subject }}</label>
                    <input id="message-subject" type="text" name="message-subject" placeholder="{{ t.str_subject }}">
                </div>

                <div class="pure-control-group">
                    <div id="message-editor"></div>
                    <input type="hidden" id="message-body" name="message-body">
                </div>
                {{#is_master}}
                <div>
                    <label style='padding-left:80px' for="message-as-email">{{ t.str_message_as_email }} </label>
                    <input type='checkbox' name='message-as-email' id='message-as-email' value='1' class='pure-button'>
                </div>
                {{/is_master}}

            </fieldset>
        </form>
    </section>
</div>
<script type="text/javascript">
    init_messenger();
</script>