<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/fork-awesome/css/fork-awesome.min.css">
    <link rel="stylesheet" href="css/weblogin.css?rev={{css_rev}}">

    <title>{{page_title}}</title>
</head>

<body>
    <div class="login-container">
        <div id="title">{{ t.title }}</div>

        <div class="form-container">
            <form id="forgot-password-form">
                <div class="margin-1 font-90">{{t.str_newactivation}}</div>
                <div class="input-group">
                    <i class="fa fa-user"></i>
                    <input type="email" id="email" name="email" placeholder="{{t.str_email}}"><br>
                </div>
                <button type="submit" id="forgetpwbutton" click="showForgotPasswordForm()">{{t.str_submit}}</button>
                <div class="center margin-1 font-90" id="notice"></div>
            </form>

            <form id="login-form">

                <div class="input-group">
                    <i class="fa fa-user"></i>
                    <input type="email" id="username" placeholder="{{t.str_email}}" required>
                </div>
                <div class="input-group">
                    <i class="fa fa-lock"></i>
                    <input type="password" id="password" placeholder="{{t.str_password}}" required>
                </div>
                <button type="submit">{{t.str_login}}</button>
                <div class="input-group">
                    <div class="padding-top-1 u-1 font-90"><input class="checkbox" type="checkbox" 
                            id="remember_me" />&nbsp;{{t.str_remember_me}}</div>
                    <div class="padding-top-1 u-1 right font-90"><a href="#" id="lost_pw"
                            onclick="showForgotPasswordForm()">{{t.str_lostpasswd}}</a></div>
                </div>
                <div class="margin-1 center font-90"><a href="{{url}}/?registration">{{t.str_registration}}</a></div>
            </form>
            <div class="login-divider">or sign in with</div>
            <form action="{{url}}/includes/openid.php" class="oidc-login-form" method="POST">
                <input type="hidden" name="callback_address" value="{{callback_address}}">
                <div class="center">
                    {{#openid_buttons}}
                    <div class="openid_buttons">
                        {{{openid_buttons}}}
                    </div>
                    {{/openid_buttons}}
                </div>
                
                    <div class="margin center">
                        <input class="checkbox" type="checkbox" name="remember_me" id="oidc_remember_me" />
                        {{t.str_remember_me}}
                    </div>
                
            </form>
        </div>
    </div>
    <script>
        window.onload = function () {
            document.getElementById("login-form").style.display = "block";
        }
        function showForgotPasswordForm() {
            document.getElementById("login-form").style.display = "none";
            document.getElementById("forgot-password-form").style.display = "block";
        }
        document.getElementById("forgot-password-form").addEventListener("submit", async function (event) {
            event.preventDefault();
            const email = document.getElementById("email").value;

            try {
                // Simulate sending the credentials to the OAuth authenticator
                const response = await fetch("{{url}}/weblogin.php", {
                    method: "POST",
                    body: JSON.stringify({ email }),
                    headers: {
                        "Content-Type": "application/json",
                    },
                });

                if (response.ok) {
                    const { state, notice } = await response.json();
                    let div = document.getElementById("notice");
                    div.innerHTML = notice;
                    if (state == "success") {
                        document.getElementById("forgetpwbutton").disabled = true;
                    }

                } else {
                    console.error("Request failed");
                }
            } catch (error) {
                console.error("Error during request:", error);
            }
        });
        document.getElementById("login-form").addEventListener("submit", async function (event) {
            event.preventDefault();

            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;
            const remember_me = document.getElementById("remember_me").checked;
            const client_id = '{{get_client_id}}';
            const client_secret = '{{get_client_secret}}';
            const cookie_path = '{{cookie_path}}';
            const scope = '{{scope}}';
            const auth_key = '{{get_auth_key}}';

            try {
                // Simulate sending the credentials to the OAuth authenticator
                const response = await fetch("{{url}}/weblogin.php", {
                    method: "POST",
                    body: JSON.stringify({ username, password, client_id, client_secret, cookie_path, scope, remember_me, auth_key }),
                    headers: {
                        "Content-Type": "application/json",
                    },
                });

                if (response.ok) {
                    try {
                        // Parse the JSON response
                        const data = await response.json();
                        
                        // Assume the response contains an url 
                        const url = data.url;

                        // Append the access token to the callback address
                        const callbackUrl = new URL("{{callback_address}}");
                        if (url!='') {
                            callbackUrl.searchParams.append("url", url);
                        }

                        // Redirect back to the calling website with the access token
                        window.location.href = callbackUrl.toString();
                    } catch (error) {
                        console.error("Failed to process the response:", error);
                    }
                } else {
                    console.error("Authentication failed");
                }
            } catch (error) {
                console.error("Error during authentication:", error);
            }
        });
    </script>
</body>

</html>
