#data-sheet-page {
    h2.dsp_title {
        font-size: 2em !important;
        line-height: 2.5em !important;
        position: relative;

        a {
            float: right;
            margin-top: 1.3em;
        }
    }
    .not_available {
        margin-left: 50px;
        font-size: 150%;
    }
    .attributes {
        li > {
            span {
                display: table-cell;
            }

            .thumbnails {
                vertical-align: bottom;
                padding-top: 5px;
                padding-bottom: 15px;
            }
        }
    }
    #access_control {
        #access_info {
            p {
                padding-left: 15px;
            }
        }
        #update_rules {
             padding-left: 20px;
             border-left: 2px solid gray;
        }
    }
    #evaluation {
        #dsp_comments {
            max-width: 700px;
        }
        #dsp_opinioning {
            width: 600px;
        }
        &>div {
            margin-left: 20px;
        }
        abbr>span {
            font-size:150%;
            font-weight:bold;
        }
        .bubby>span {
            font-variant: small-caps;
        }
    }
    .dsp_section {
        padding-left: 10px;
        padding-top: 5px;
        line-height: 2em;
    }
}
