.loginform {
    
    h2 {
        border-radius: 4px;
        margin-top: 0;
        font-size: 1.6rem !important;
        font-weight: normal !important;
        color: #444 !important;
        background: none !important;
        padding: 0 !important;
    }
    label {
        font-weight: bold;
    }
    input {
        font-size: 115%;
    }
    .input-group {
        border-collapse: separate;
        display: table;
        position: relative;
        margin-bottom: 1em;
    }
    
    .input-group .form-control:last-child, .input-group-addon:last-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
    .input-group-addon, .input-group .form-control {
        display: table-cell;
    }
    .input-group .form-control {
        float: left;
        margin-bottom: 0;
        position: relative;
        width: 100%;
        z-index: 2;
    }
    .input-group-addon {
        background-color: #eee;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        color: #555;
        /*font-size: 14px;*/
        font-weight: normal;
        line-height: 1;
        padding: 6px 12px;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        width: 1%;

        &:first-child {
            border-right: 0 none;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
    }
    .input-group-addon, .input-group .form-control {
        display: table-cell;
    }
    .form-control {
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        display: block;
        /*font-size: 14px;*/
        height: 34px;
        line-height: 1.42857;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        width: 100%;

        &:focus {
            border-color:rgba(0,153,255,1)!important;
            -webkit-box-shadow: 0 0 4px 1px rgba(0,153,255,.4);
            box-shadow: 0 0 4px 1px rgba(0,153,255,.4);
        }
    }
    
    &.pure-form fieldset {
        max-width: 550px;
        margin: 0 auto;
    }
    .pure-form-message {
        text-align: right;
    }

    .login-divider {
        display: flex;
        align-items: center;
        margin: 1rem 0;

        &::before {
            content: '';
            flex: 1;
            border-bottom: 1px solid var(--gray-100, #dcdcde);
            margin: 24px 16px 24px 0;
            box-sizing: border-box;
        }

        &::after {
            content: '';
            flex: 1;
            border-bottom: 1px solid var(--gray-100, #dcdcde);
            margin: 24px 0 24px 16px;
            box-sizing: border-box;
        }
    }

    button[type="submit"] {
        margin: 1rem 0;
        width: 100%;
    }

    .openid_buttons {
        text-align: center;
        button {
            width: 100%;
        }
    }
    label[for="remember_me_oidc"] {
        margin-top: 2rem;
    }

    .registration-link {
        text-align: center;
    }
}
/* new log-in button */
.login_button {
    display: block;
    align-items: center;
    text-align:center;
    text-decoration: none;
    color: #007BFF;
    font-size: 164%;
    transition: color 0.3s ease;
    margin:1em;
}

.login_button:hover {
    color: #0056b3;
}

