{{#enabled}}

    <span class='edbox-span' id='span-{{id}}'{{#active}} style='display:none'{{/active}}>
        {{value}}
    </span>
    <input 
        name='{{name}}' 
        {{#active}}style='display:inline'{{/active}} 
        class='edbox {{#active}}edbox-active{{/active}}{{^active}}{{action}}{{/active}}' 
        {{target}} 
        data-table='{{table}}' 
        id='dc-{{id}}' 
        value='{{valuec}}'
    >
    <button class='button-success button-small pure-button edbox-button {{function}}' {{#active}}style='display:inline'{{/active}} id='ed-{{id}}'>
        <i class='fa fa-floppy-o fa-lg'></i>
        {{t.str_save}}
    </button>
    {{#add_attachment}}
        <button class='button-secondary button-small pure-button edbox-button {{function}} refresh-add' id='edr-{{id}}'>
            <i class='fa fa-refresh fa-lg'></i>
            {{t.str_add}}
        </button>
    {{/add_attachment}}

{{/enabled}}
{{^enabled}}
    <span style='font-size:0.9em;padding-left:2px'>{{value}}</span>
{{/enabled}}
