/*
 *
 *
 * UPLOADINGS Table */

table.excel {
	border-style:ridge;
	border-width:1;
	border-collapse:collapse;
	font-family:sans-serif;
	font-size:12px;
}
table.excel thead th, table.excel tbody th {
	background:#CCCCCC;
	border-style:ridge;
	border-width:1;
	text-align: center;
	vertical-align:bottom;
}
table.excel tbody th {
	text-align:center;
	width:20px;
}
table.excel tbody td {
	vertical-align:bottom;
}
table.excel tbody td {
    padding: 0 3px;
	border: 1px solid #EEEEEE;
}
.drag {
	margin: auto;
	text-align: center;
	width: 80px;
	height: 30px;
	line-height: 30px;
	border: 2px solid SteelBlue;
	background-color: white;
	font-size: 10pt; /* needed for cloned object */
	/* round corners */
	border-radius: 4px; /* Opera, Chrome */
	-moz-border-radius: 4px; /* FF */
}
div#drag table {
	background-color: #fff;
	border-collapse: collapse;
	margin: 7px;
}
/* table cells */
div#drag td {
	border: 1px solid #eee;
	height: 50px;
	text-align: center;
	font-size: 10pt;
    padding:1px;
}
div#drag td.head {
	background:#CCCCCC;
	border:1px ridge #666666;
	text-align: center;
	vertical-align:bottom;
	font-family:sans-serif;
	height: 10px;
    vertical-align:top;
}
/* orange elements */
.orange {
	border: 2px solid #FF8A58;
}
/* forbidden cells */
.mark {
	background-color: #ccc;
}
/* trash cell */
.trash {
	color: white;
	background-color: SteelBlue;
}
/* styles for user defined overflow td */
td#overflow {
	padding-bottom: 6px;
}
td#overflow div {
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

