.drop-area-highlight {
    background-color: #FFEC98 !important;
}
.drop-hover {
    background-color: #FFA498 !important;
}
.dropped {
    position: static !important;
}
.photoedit,.photodrop {}
.thumb {
    vertical-align:middle;
    box-shadow:         0px 0px 3px rgba(0, 0, 0, 0.75);
}
#photodiv-thumbnails,#photodiv-unlink{
}
#uresponse {
    padding:2px;
    margin-bottom:10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    border: 1px solid #C5C5C5;
}
#photodiv{
    color:#ececec;
    position:fixed;
    right:0px;
    top:0px;
    display:none;
    z-index:10002;
    padding:10px;
    height:inherit;
    width:50%;
    overflow: auto;
}
#photodiv-carpet {
    box-shadow:         0px 0px 20px rgba(0, 0, 0, 0.75);
    position:fixed;
    right:0px;
    top:0px;
    background-color:black;
    z-index:-1;
    padding:10px;
    height:100%;
    width:50%;
    overflow: hidden;
}
#photodiv-buttons {
    margin:5px;
    min-width:200px;
    position:absolute;
    z-index:1;
}
#photodiv-exif {
    list-style-type:none;
    display:none;
    max-height:600px;
    overflow:auto;
    position:absolute;
    z-index:100;
    width:100%;
    padding:10px;
    margin-top:50px;
    color:black;
    border: solid #a3c94c 1px;  /* this is a green */
    background-color: #b8e356;
    opacity:0.8;
}
#photodiv-exif li {
    font-size:0.9rem;
}
#photodiv-frame {
    position:relative;
}
#photodiv-frame .ui-resizable-s {
    border-bottom: 1px dashed #656565;
}
#photodiv-frame img {
    max-width:100%;
}
#photodiv-comment {
    background-color:white;
    height:3em;
    width:600px;
    opacity:0.5;
    position:absolute;
    border-radius:5px;
    border:1px solid darkgray;
    bottom:0px;
    left:0px;
}
#photodiv-comment:focus {
    opacity:0.8;
    height:6em;
}
#photodiv-rightpanel {
    position:absolute;right:0;top:0
}
#photodiv-audio {
    display: none;
    height:3em;
    width:600px;
    position:absolute;
    bottom:0px;
    left:0px;
}
