html,body{
    height: 100%;
    /*font-size: 62.5%;*/ /* Default font-size is 10px - if browser font-size is 16px */
}
body {
    font-family: "Lucida Grande", Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif !important;
    color: #555555;
    background-color: #ffffff;
    margin:0;
    position:relative;
    line-height:1.5;
}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
abbr {border-bottom: 1px dotted #333333;}
input, select {
    color: #345345;
}
h1, h2, h3, h4, h5, h6 {
    color: #003a6b !important;
    background-color: transparent !important;
    font: 1rem 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif !important;
}
h1 {
    font-size: 1.5rem !important;
    margin: 1.6rem !important;
}
h2 {
    font-size: 1.4rem !important;
    font-weight: bold !important;
    padding: 1em !important;
    color: #bd2c27 !important;
    background-color:#eaeaea !important;
}
h3 {
    font-size: 1.3rem !important;
    margin-bottom: 0.5em !important;
}
h4 {
    font-size: 1.2rem !important;
    font-weight: bold !important;
    margin-bottom: 0.5em !important;
}
h5 {
    font-size: 1.1rem !important;
    margin-bottom: 0.5em !important;
}
h6 {
    font-weight: bold !important;
    margin: 0 !important;
}
textarea {
    color:#6c6c6c;
    resize: vertical;
    border:1px solid #bababa;
    border-bottom:4px solid #cdcdcd;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    width:100%;
}
textarea:focus {
    color:#101010;
    border-color: #42B8DD;
    box-shadow:         0px 0px 2px rgba(58, 87, 207, 0.65);
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 2px rgba(58, 87, 207, 0.65);
    -webkit-border-radius: 2px;
}
a img {border:none;}
a[href] {
    color: #5F65C2;
    text-decoration:none;
}
a:hover {color: #5C2BBA;}

