<table style="width: 100%">
    <tr>
        <td>
            <h3><a href="{{docheader.url}}" target="_blank">{{docheader.long}}</a></h3>
            <a href="mailto::{{docheader.email}}">{{docheader.email}}</a>
        </td>
        <td style="text-align: right">
            <img id="logo" src="{{docheader.url}}{{docheader.logo}}" alt="{{docheader.short}}"/> 
        </td>
    </tr>
</table>
<hr>

